In [36]:
import pandas as pd
import numpy as np

In [37]:
data_pre_pridict = pd.read_csv("Tic tac initial results.csv")

In [39]:
data_pre_pridict.head()

   MOVE1 MOVE2 MOVE3 MOVE4 MOVE5 MOVE6 MOVE7 CLASS
0      0     8     1     3     ?     ?     ?  loss
1      4     7     2     6     ?     ?     ?   win
2      0     8     1     6     5     ?     ?  draw
3      4     7     2     3     ?     ?     ?  draw
4      0     4     2     1     ?     ?     ?   win

In [59]:
order_of_board = 3
elements_in_the_bord = []
for i in  range(1,order_of_board+1):
    column = []
    for j in  range(1,order_of_board+1):        
        column.append(str(i)+ "," + str(j)+ "," +str(0))
    elements_in_the_bord.append(column)
elements_in_the_bord

[['1,1,0', '1,2,0', '1,3,0'],
 ['2,1,0', '2,2,0', '2,3,0'],
 ['3,1,0', '3,2,0', '3,3,0']]

In [66]:
row_number = elements_in_the_bord[-1][-1].split(",")[0]
column_number = elements_in_the_bord[-1][-1].split(",")[1]
print(row_number," ",column_number)

3   3